.discount {
background-color: #eededf;
font-family: 'Lato', sans-serif;
text-align: center;
}

.h1 {
	text-align: center;
}


.top-bar {
background-color: #f2f2f2;


}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: #f2f2f2;
	color: #000;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: #fff;
        background: #fff; }

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
	color: #000;
}

.name4{
	color: #f2f2f2;
}

.home-intro {
  padding: 3rem 0;
}


.home-intro-space {
  margin-bottom: 1.5rem !important;
}

.home-intro-tall img {
  
}

.hero-2{
  margin-bottom: 2%;
}

.home-intro-luxury {
  margin-bottom: 1.5rem !important;
}


.luxury-intro{
  padding: 3rem 0;
}

.info{
  padding: 1px 2;
}


h4{
font-family: 'Fira Sans Condensed', sans-serif;
}

p{
font-family: 'Palanquin', sans-serif;  
}

figure.hero {
 margin: 0;
 position: relative;
}
figure.hero img {
 width: 100%;
}
figure.hero figcaption {
 position: absolute;
 bottom: 45%;
 width: 100%;


}

.hero{
  color: #fff;
  text-align: center;
}

footer {
  padding: 10px 0;
  color: #222222;
  background-color: #f2f2f2;
  text-align: center;

}

footer p {
  margin-top: 0;
  position: absolute;
  left: 3%;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

.fa {
  color: #cccccc;
}
